*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    z-index: 1;
}
button:active{
    scale: 0.9;
    background-color: rgb(51, 66, 66);
    color: azure;
}


