*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
}

#card{
    height: 330px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

#card img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

#card h2{
    text-align: center;
    padding: 10px;
}

#card i{
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;   
    font-size: 40px;
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    transform: translate(-50%,-50%) scale(0) rotate(0deg);
    opacity: 0;
    transition: all 0.4s ease;
}
 



